@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lobster&family=Oswald:wght@200&family=Raleway:wght@100&display=swap');

.ff-oswald {font-family: 'Oswald';}

/* Navbar Start */

.navbar-scroll {background-color: #111;}
nav.navbar {position: absolute;}
nav.navbar .navbar-brand img {width: 100px;}
@media (max-width: 767.98px) {
  nav.navbar {
    position: fixed;
    background-color: #111;
  }
  nav.navbar .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 5rem);
  }
}
/* Navbar End */





/* Section Site Home Hero Start */
section#site-home-hero {
  background-image: url('../../assets/images/site-hero-bg.jpg');
  background-size: cover;
  background-position: bottom;
}
section#site-home-hero .container{height: 100vh;}
/* Section Site Home Hero End */





/* Section Site Platform Expertise Start */
section#site-platform-expertise {
  background-color: #f6f6f6;
  margin-top: -1px;
}
section#site-platform-expertise img {
  width: 100%;
  filter: saturate(0%);
}
section#site-platform-expertise img:hover {filter: none;}
/* Section Site Platform Expertise End */






/* Section Site Home Banner Start */
section#site-home-banner {
  background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url("../.././assets/images/site-about-awc-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0 100px 0;
}
/* Section Site Home Banner End */


section#site-awc-works {padding: 100px 0 100px 0;}



/********************************************************/
/******************** Site AWC Works ********************/
/********************************************************/
.site-awc-works {padding: 100px 0 100px 0;}
.site-awc-works h3 {font-family: 'Oswald';}


.site-about-awc-banner {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}
.site-about-awc-banner h3 {
  font-family: 'Oswald';
  margin-top: 30px;
}
.site-about-awc {
  display: flex;
  align-items: center;
  justify-content: center;

}
section#section-about-awc .site-about-awc .about-awc-text {
  padding: 150px 90px 150px 90px;
}
@media (max-width: 992px) {
  section#section-about-awc .site-about-awc .about-awc-text {
    padding: 50px 100px 50px 100px;
  }
}
@media (max-width: 768px) {
  section#section-about-awc .site-about-awc .about-awc-text {
    padding: 20px 50px 20px 50px;
  }
}
section#section-about-awc .site-about-awc .about-awc-image-1 {
  background-image: url('../.././assets/images/about-awc-image-1.jpg');
  background-size: cover;
  background-position: center;
}
section#section-about-awc .site-about-awc .about-awc-image-2 {
  background-image: url('../.././assets/images/about-awc-image-2.jpg');
  background-size: cover;
  background-position: center;
}


 section#section-about-awc .site-about-awc img {width: 60%;}




footer#site-footer {background-color: #111;}